* {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    border-style: solid;
    background-color: lightgray;
}

.display {
    border-style: solid;
    margin: 10px;
    padding: 10px;
    text-align: end;
    font-size: 30px;
    height: 40px;
    background-color: white;
}

.displayPrev {
    font-size: 10px;
    padding-right: 30px;
    text-align: end;
}

.buttons {
    border-style: solid;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.clearBtn {
    border-style: solid;
    padding: 5px;
    text-align: end;
    margin: 5px;
    margin-left: auto;
    background-color: lightcoral;
}

.upperButtons {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.lowerButtons {
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
}

.numRow {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.num {
    border-style: solid;
    border-radius: 1px;
    padding: 2px;
    height: 30px;
    width: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.operations {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 10px;
    justify-self: flex-end;
}

.operationBtn {
    border-style: solid;
    height: 30px;
    width: 30px;
    padding: 2px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}